ul {
	padding-top: 10px; 
	border-top: solid lightgrey; 
	border-bottom: solid lightgrey;
	width: 100%;
}

img {
	width: 100%;
}

#logo {
	height: 130px;
	width: 440px;
	padding-top: 10px;
}

#inscription {
	padding-bottom: 10px;
	margin-top: 45px;
	font-size: 1.5em;
	color: lightgrey;
}

#connexion{
	padding-bottom: 10px;
	margin-top: 40px;
	font-size: 1.5em;
	height: 40px;
	color: lightgrey;
	border-left: solid lightgrey;
	padding-left: 5px;
}

#categorie {
	height: 50px;
	font-size: 1.5em;
}

#recherche {
	height: 50px;
	font-size: 1.5em;
}

#saisie {
	height: 50px;
	font-size: 1.5em;
}




