ul {
	padding-top: 10px; 
	border-top: solid lightgrey; 
	border-bottom: solid lightgrey;
	width: 100%;
}

img {
	width: 100%;
}


#categorie {
	height: 50px;
	font-size: 1.5em;
}

#recherche {
	height: 50px;
	font-size: 1.5em;
}

#saisie {
	height: 50px;
	font-size: 1.5em;
}




